:host {
    display: block;
}

.mui-list{
    margin-bottom: 8px;
    border-radius: 2px;
}

.mui-list--img{
    position: relative;
    padding-top: 133.33%;
    overflow: hidden;
}

.mui-list--img img{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
}

.mui-list--img-footer{
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
}