<div class="mui-list" [routerLink]="['/hero', hero.id]">
    <div class="mui-list--img">
        <img [attr.data-src]="heroImg()"/>
        <div class="mui-list--img-footer">
            <div class="mui--text-light mui--text-title">
                {{hero.localized_name}}
            </div>
            <div class="mui--text-light mui--text-subhead">{{hero.attack_type}}</div>
        </div>
    </div>
</div>