:host {
    display: block;
}

.bar {
    background-color: #cccccc;
}

img {
    max-width: 100%;
}

.mui-divider {
    margin-top: 5px;
    margin-bottom: 5px; 
}

.table-responsive {
    overflow: auto;
    max-width: 100%;
}