<div _ngcontent-c3="" class="space-top"></div>
<div class="mui-panel detail-panel" *ngIf="hero">
  <div class="mui--text-headline">{{hero.localized_name}}</div>

  <div class="mui-row">
    <div class="mui-col-sm-4">
      <img [src]="heroImg()" />
      <small class="mui--text-dark-hint">{{hero.name}}</small>

      <div class="mui-divider"></div>

      <div class="mui--text-dark-primary">{{hero.attack_type}}</div>
      <div class="mui--text-dark-secondary">{{hero.roles.join(', ')}}</div>

      <div class="mui-divider"></div>

      <div><span class="mui--text-dark-secondary">Strength</span> {{hero.base_str}} + {{hero.str_gain}}</div>
      <div><span class="mui--text-dark-secondary">Agility</span> {{hero.base_agi}} + {{hero.agi_gain}}</div>
      <div><span class="mui--text-dark-secondary">Inteligence</span> {{hero.base_int}} + {{hero.int_gain}}</div>

      <div class="mui-divider"></div>

      <div><span class="mui--text-dark-secondary">Base attack</span> {{hero.base_attack_min}} - {{hero.base_attack_max}}</div>
      <div><span class="mui--text-dark-secondary">Attack range</span> {{hero.attack_range}}</div>
      <div><span class="mui--text-dark-secondary">Attack speed</span> {{hero.attack_rate}}</div>
      <div><span class="mui--text-dark-secondary">Projectile speed</span> {{hero.projectile_speed}}</div>

      <div class="mui-divider"></div>

      <div><span class="mui--text-dark-secondary">Health</span> {{hero.base_health}}</div>
      <div><span class="mui--text-dark-secondary">Health regen</span> {{hero.base_health_regen}}</div>
      <div><span class="mui--text-dark-secondary">Mana</span> {{hero.base_mana}}</div>
      <div><span class="mui--text-dark-secondary">Mana regen</span> {{hero.base_mana_regen}}</div>

      <div class="mui-divider"></div>

      <div><span class="mui--text-dark-secondary">Base armor</span> {{hero.base_armor}} ({{calcArmorPercent(hero.base_armor)}}%)</div>
      <div><span class="mui--text-dark-secondary">Magic resistance</span> {{hero.base_mr}}</div>
      <div><span class="mui--text-dark-secondary">Move speed</span> {{hero.move_speed}}</div>
      <div><span class="mui--text-dark-secondary">Turn speed</span> {{hero.turn_rate}}</div>

      <div class="mui-divider"></div>

      <div><span class="mui--text-dark-secondary">Number of legs</span> {{hero.legs}}</div>
      <div><span class="mui--text-dark-secondary">CM enabled</span> {{hero.cm_enabled}}</div>

      <hr class="mui--visible-xs-block"/>

    </div>
    <div class="mui-col-sm-8">
      <div class="mui--text-title mui--text-dark-primary">Professional</div>
      <div class="mui-row">
        <div class="mui-col-sm-4">
          <div class="mui--text-dark-secondary">Picks</div>
          <div class="mui--text-dark-hint">{{pro_picks_perc.toFixed(2) + '% (' + hero.pro_pick + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(pro_picks_perc)" [style.width]="pro_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-4">
          <div class="mui--text-dark-secondary">Bans</div>
          <div class="mui--text-dark-hint">{{pro_bans_perc.toFixed(2) + '% (' + hero.pro_ban + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(pro_bans_perc)" [style.width]="pro_bans_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-4">
          <div class="mui--text-dark-secondary">Wins</div>
          <div class="mui--text-dark-hint">{{pro_wins_perc.toFixed(2) + '% (' + hero.pro_win + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(pro_wins_perc)" [style.width]="pro_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <hr />

      <div class="mui--text-title mui--text-dark-primary">Public</div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Divine Picks</div>
          <div class="mui--text-dark-hint">{{divine_picks_perc.toFixed(2) + '% (' + hero['7_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(divine_picks_perc)" [style.width]="divine_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Divine Wins</div>
          <div class="mui--text-dark-hint">{{divine_wins_perc.toFixed(2) + '% (' + hero['7_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(divine_wins_perc)" [style.width]="divine_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Ancient Picks</div>
          <div class="mui--text-dark-hint">{{ancient_picks_perc.toFixed(2) + '% (' + hero['6_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(ancient_picks_perc)" [style.width]="ancient_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Ancient Wins</div>
          <div class="mui--text-dark-hint">{{ancient_wins_perc.toFixed(2) + '% (' + hero['6_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(ancient_wins_perc)" [style.width]="ancient_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Legend Picks</div>
          <div class="mui--text-dark-hint">{{legend_picks_perc.toFixed(2) + '% (' + hero['5_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(legend_picks_perc)" [style.width]="legend_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Legend Wins</div>
          <div class="mui--text-dark-hint">{{legend_wins_perc.toFixed(2) + '% (' + hero['5_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(legend_wins_perc)" [style.width]="legend_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Archon Picks</div>
          <div class="mui--text-dark-hint">{{archon_picks_perc.toFixed(2) + '% (' + hero['4_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(archon_picks_perc)" [style.width]="archon_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Archon Wins</div>
          <div class="mui--text-dark-hint">{{archon_wins_perc.toFixed(2) + '% (' + hero['4_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(archon_wins_perc)" [style.width]="archon_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Crusader Picks</div>
          <div class="mui--text-dark-hint">{{crusader_picks_perc.toFixed(2) + '% (' + hero['3_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(crusader_picks_perc)" [style.width]="crusader_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Crusader Wins</div>
          <div class="mui--text-dark-hint">{{crusader_wins_perc.toFixed(2) + '% (' + hero['3_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(crusader_wins_perc)" [style.width]="crusader_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Guardian Picks</div>
          <div class="mui--text-dark-hint">{{guardian_picks_perc.toFixed(2) + '% (' + hero['2_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(guardian_picks_perc)" [style.width]="guardian_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Guardian Wins</div>
          <div class="mui--text-dark-hint">{{guardian_wins_perc.toFixed(2) + '% (' + hero['2_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(guardian_wins_perc)" [style.width]="guardian_wins_perc + '%'"></div>
          </div>
        </div>
      </div>

      <div class="mui-divider"></div>

      <div class="mui-row">
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Herald Picks</div>
          <div class="mui--text-dark-hint">{{guardian_picks_perc.toFixed(2) + '% (' + hero['1_pick'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(herald_picks_perc)" [style.width]="herald_picks_perc + '%'"></div>
          </div>
        </div>
        <div class="mui-col-sm-6">
          <div class="mui--text-dark-secondary">Herald Wins</div>
          <div class="mui--text-dark-hint">{{herald_wins_perc.toFixed(2) + '% (' + hero['1_win'] + ')'}}</div>
          <div class="bar">
            <div class="bar-inner" [style.height]="'4px'" [style.background-color]="barColor(herald_wins_perc)" [style.width]="herald_wins_perc + '%'"></div>
          </div>
        </div>        
      </div>

      <hr />

      <div class="mui--text-title mui--text-dark-primary">Benchmarks</div>
      <small class="mui--text-caption">Data from public matches</small>

      <div class="table-responsive" *ngIf="benchmarks">
        <table class="mui-table mui-table--bordered">
          <thead>
            <tr>
              <th>%</th>
              <th>GPM</th>
              <th>XPM</th>
              <th>KPM</th>
              <th>LHM</th>
              <th>HDM</th>
              <th>HHM</th>
              <th>TD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pos of [0,1,2,3,4,5,6,7,8,9,10]">
              <td>{{benchmarks.gold_per_min[pos].percentile.toFixed(2) * 100}}%</td>
              <td>{{benchmarks.gold_per_min[pos].value.toFixed(0)}}</td>
              <td>{{benchmarks.xp_per_min[pos].value.toFixed(0)}}</td>
              <td>{{benchmarks.kills_per_min[pos].value.toFixed(0)}}</td>
              <td>{{benchmarks.last_hits_per_min[pos].value.toFixed(2)}}</td>
              <td>{{benchmarks.hero_damage_per_min[pos].value.toFixed(2)}}</td>
              <td>{{benchmarks.hero_healing_per_min[pos].value.toFixed(2)}}</td>
              <td>{{benchmarks.tower_damage[pos].value.toFixed(0)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr />

      <div class="mui--text-title mui--text-dark-primary">Durations</div>
      <small class="mui--text-caption">Data from professional matches</small>

      <div class="table-responsive" *ngIf="durations">
        <table class="mui-table mui-table--bordered">
          <tbody>
            <tr>
                <th>Duration</th>
                <td *ngFor="let duration of durations">{{duration.x}}</td>
              </tr>
            <tr>
              <th>Games</th>
              <td *ngFor="let duration of durations">{{duration.games}}</td>              
            </tr>
            <tr> 
              <th>Wins</th>                     
              <td *ngFor="let duration of durations">{{duration.win}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>