/**
 * Side drawer CSS
 */


 #sidedrawer-brand {
    padding-left: 20px;
  }
  
  #sidedrawer ul {
    list-style: none;
  }
  
  #sidedrawer > ul {
    padding-left: 0px;
  }
  
  #sidedrawer > ul > li:first-child {
    padding-top: 15px;
  }
  
  #sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
  }
  
  #sidedrawer strong:hover {
    background-color: #E0E0E0;
  }
  
  #sidedrawer strong + ul > li {
    padding: 6px 0px;
  }

  #sidedrawer a, #sidedrawer a:hover {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}