<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title">Dota Heroes</span>
  </div>
  <div class="mui-divider"></div>
  <ul>
    <li>
      <a href="http://www.dota2.com/">
        <strong>Dota</strong>
      </a>
      
    </li>
  </ul>
</div>