.mui-appbar {
    background-color: #C62828;
    color: #FFF;
}

.mui-appbar.mui-appbar-search {
    background-color: white;
    color: rgba(0,0,0,.87);
}

.mui-appbar .mui-search input{
    border: none;
    background: none;
    color: rgba(0,0,0,.87);
    height: 56px;
    width: 100%;
    outline: none;
}

.mui-appbar .search-toggle{
    color: white;
    height: 56px;
    float: right;
}

.mui-appbar .search-toggle .material-icons, .mui-appbar .back-toggle .material-icons{
    vertical-align: middle;
}

.mui-appbar .back-toggle{
    color: rgba(0,0,0,.87);
    height: 56px;
}