<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>

<header id="header">
  <div class="mui-appbar mui--appbar-line-height mui--z2" *ngIf="!searching">
    <div class="mui-container-fluid">

      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">
        <i class="material-icons">menu</i>
      </a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">
        <i class="material-icons">menu</i>
      </a>
      <span class="mui--text-title">Dota Heroes</span>
      <a *ngIf="getCurrentUrl() == '/heroes'" class="search-toggle" (click)="searching = true">
        <i class="material-icons">search</i>
      </a>
    </div>
</div>
<div class="mui-appbar mui-appbar-search mui--appbar-line-height mui--z2" *ngIf="searching">
    <div class="mui-container-fluid" >
      <div class="mui-row">
      <span class="mui-col-xs-2 mui-col-md-1">
        <a *ngIf="getCurrentUrl() == '/heroes'" class="back-toggle" (click)="searching = false">
          <i class="material-icons">arrow_back</i>
        </a>
      </span>
      <span class="mui-col-xs-10 mui-col-md-11">
        <div class="mui-search">
          <input type="search" [(ngModel)]="globals.query" placeholder="Buscar herói">
        </div>
      </span>
    </div>
    </div>
  </div>
</header>
<div id="content-wrapper">
  <div class="mui--appbar-height"></div>
  <div class="mui-container" [@routerTransition]="getRouteAnimation(route)">
    <div class="mui-row">
      <div class="mui-col-md-10 mui-col-md-offset-1">
        <router-outlet #route="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="mui-container-fluid">
    <br>

  </div>
</footer>