<div class="space-top">
</div>
<div class="grid-row">
  <div class="mui-col-xs-6 mui-col-sm-4 mui-col-md-3 grid-col" lazy-load-images [@fadeInTopAnimation] *ngFor="let hero of heroes | sort: 'localized_name' | search: 'localized_name': globals.query;">
    <app-hero-block [hero]="hero"></app-hero-block>
  </div>
</div>

<div class="space-bottom"></div>